.card{
  height: 100%;
}
.bg-header{
  background-image: url(./img/newsHeader.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  /* height: 500px; */
}
.py-6{
  padding: 100px 0;
  }
  .header-overlay{
    background-color: rgba(67, 177, 226,.96);
  }